

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 50;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: color 0.3s;
}

.links li a:hover {
  color: #0070f3;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #111;
  transition: all 0.3s;
}


@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 70px;
    right: -100%;
    background-color: #fff;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: right 0.3s;
  }

  .links.active {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}
